body {
  background: #f4f7f6; // Svijetlo siva/zelenkasta pozadina
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border-radius: 15px; // Zaobljene ivice
}

.form-control {
  border-radius: 8px;
  padding: 10px;
  &:focus {
    box-shadow: 0 0 0 0.25 mil rem rgba(25, 135, 84, 0.25); // Zeleni sjaj fokusa
    border-color: #198754;
  }
}
