<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
  <div class="text-center">
    <h1 class="display-1 fw-bold text-primary">404</h1>
    <p class="fs-3"><span class="text-danger">Ups!</span> Stranica nije pronađena.</p>
    <p class="lead">Stranica koju tražite ne postoji ili nemate pravo pristupa.</p>

    <a routerLink="/home" class="btn btn-primary rounded-pill px-4 py-2 mt-3 shadow-sm">
      <i class="bi bi-house-door-fill me-2"></i>Vrati se na početnu
    </a>
  </div>
</div>
